<header>
  <nav
    class="navbar navbar-expand-sm bg-dark justify-content-between navbar-dark"
  >
    <a href="./index.html" class="navbar-brand"
      ><i class="fas fa-parking fa-2x text-light"></i>
      <span>Park Finder</span></a
    >
    <ul class="navbar-nav" id="list1">
      <li class="nav-item">
        <a href="./login.html" class="nav-link text-light d-inline">Login</a>
        <span class="text-light">|</span>
        <a href="./sign_up.html" class="nav-link text-light d-inline"
          >Sign Up</a
        >
      </li>
    </ul>
    <ul class="navbar-nav d-none" id="list2">
      <li class="nav-item">
        <a
          href="./profile.html"
          class="nav-link text-light d-inline"
          id="link1"
        ></a>
        <span class="text-light">|</span>
        <a
          href="#!"
          class="nav-link text-light d-inline"
          onclick="log_out()"
          id="link2"
        ></a>
      </li>
    </ul>
  </nav>

  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="img-1"></div>
      </div>
      <div class="carousel-item">
        <div class="img-2"></div>
      </div>
      <div class="carousel-item">
        <div class="img-3"></div>
      </div>
    </div>

    <a href="#demo" class="carousel-control-prev" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#demo" class="carousel-control-next" data-slide="prev">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</header>
