<nav
  class="navbar navbar-expand-sm bg-dark justify-content-between navbar-dark"
>
  <a href="./index.html" class="navbar-brand"
    ><i class="fas fa-parking fa-2x text-light"></i> <span>Park Finder</span></a
  >
  <ul class="navbar-nav">
    <!-- Ng class para darle una clase dependiendo de su valor booleano -->
    <li class="nav-item" [ngClass]="{ 'd-none': log == true }">
      <a class="nav-link text-light d-inline" (click)="changeValue()">Log in</a>
    </li>
    <!-- Ng class para darle una clase dependiendo de su valor booleano -->
    <li class="nav-item" [ngClass]="{ 'd-none': log == true }">
      <a
        routerLink="Sign_Up"
        class="nav-link text-light d-inline"
        (click)="changeValue()"
        >Sign Up</a
      >
    </li>
    <!-- Ng class para darle una clase dependiendo de su valor booleano -->
    <li class="nav-item" [ngClass]="{ 'd-none': log !== true }">
      <a routerLink="Profile" class="nav-link text-light d-inline"
        >{{ nameProfile.Name }} {{ nameProfile.Surname }}
      </a>
    </li>

    <li class="nav-item" [ngClass]="{ 'd-none': log !== true }">
      <a class="nav-link text-light d-inline" (click)="changeValue()"
        >Log out</a
      >
    </li>
  </ul>
</nav>
