<div class="col-12 col-sm-9">
  <h1 class="h1-contact">Park Finder - Contact</h1>
  <div class="form_contact">
    <form action="">
      <div class="row">
        <div class="col">
          <!-- Ng model para el two way de los valores que podemos dar desde el ts y los que introduce el usario -->
          <input
            [(ngModel)]="person.firstName"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            class="form-control"
          />
        </div>
        <div class="col">
          <input
            [(ngModel)]="person.lastName"
            [ngModelOptions]="{ standalone: true }"
            type="text"
            class="form-control"
          />
        </div>
      </div>
    </form>
    <form action="">
      <div class="form-group">
        <label for="Email"></label>
        <input
          [(ngModel)]="person.email"
          [ngModelOptions]="{ standalone: true }"
          type="email"
          class="form-control"
        />
      </div>
    </form>
    <div class="form-group">
      <label for="" class="comment"></label>
      <textarea
        class="form-control"
        name
        id="comment"
        cols="10"
        rows="5"
        placeholder="Enter Message"
      ></textarea>
    </div>
    <button type="button" class="btn btn-primary btn-block">SEND</button>
  </div>
</div>
