<!--HEADER-->
<!--Metodo Login para cambiar el valor booleano del navbar y pasar
el valor a otro componente hijo   -->
<app-navbar (login)="logPadre = !logPadre"></app-navbar>
<app-header></app-header>

<!--END-HEADER-->

<!--MAIN-->

<main class="container-fluid py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-4 col-md-3">
        <!-- Recibiendo valor booleano del componente hermano Navbar
        por medio del componente padre -->
        <app-sidebar [logSidebar]="logPadre"></app-sidebar>
      </div>
      <div class="col-12 col-sm-6 col-md-9">
        <!-- Llamadas a los componentes por medio de router -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>

<!--MAIN-->

<!--FOOTER-->

<app-footer></app-footer>

<!--FOOTER-->
