/* You can add global styles to this file, and also import other style files */
.img-1 {
  background-image: url(../src/assets/img/parking.jpg);
  background-position: 50% 50%;
}

.img-2 {
  background-image: url(../src/assets/img/parking2.jpg);
  background-position: 50% 50%;
}

.img-3 {
  background-image: url(../src/assets/img/parking3.jpg);
  background-position: 50% 50%;
}

.carousel-item > div {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
